<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/works.css">
    </head>
    
    <body>
       <h1>Works</h1>
       <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 10</div>
            <img src="images/1q84.avif" alt="1q84">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 10</div>
            <img src="images/A wild sheep chase.avif" alt="A wild sheep chase.">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 10</div>
            <img src="images/after darl.avif" alt="after dark">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 10</div>
            <img src="images/dance dance dance.avif" alt="dance dance dance">
            <div class="text">Caption Text</div>
        </div>


        <div class="mySlides fade">
            <div class="numbertext">5 / 10</div>
            <img src="images/hear the wind sing.avif" alt="hear the wind sing">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">6 / 10</div>
            <img src="images/kafka-e1519625281274.avif" alt="kafka">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">7 / 10</div>
            <img src="images/norweigian wood.avif" alt="norweigian wood.">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">8 / 10</div>
            <img src="images/south of the border.avif" alt="south of the border">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">9 / 10</div>
            <img src="images/sputnik.avif" alt="sputnik">
            <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">10 / 10</div>
            <img src="images/the wind up bird.avif" alt="the wind up bird">
            <div class="text">Caption Text</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
   

      
       
      
      
       
       
       
     

        </div>
        <script src="js/index.js"> </script>
    </body>
</html>