body {
   background-color: beige;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-family: 'Nunito';
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#list-container {
    display: flex;
    justify-content: space-between;
}

.list-items {
    margin-right: 12px;
}